<p>pipes works!</p>
<div style="background-color: aqua;">
<h1 style="text-align:center;color: rgb(217, 28, 135);">PIPE DEMONSTRATION</h1>
<div>
   Date pipe:{{day|date}} 
   <br>
   Date pipe:{{day|date:'dd-MM-YYYY'}} 
   <br>
   {{joindate|date:'shortDate'}}
   {{joindate|date:'fullDate'}}
</div>
<div>
    currencypipe:{{amount|currency:'INR'}}
</div>
<div>
    number pipe:{{number|number}}
</div>
<div>
    upper-case pipe:{{name|uppercase}}
</div>
<div>
    lowercase pipe:{{name|lowercase}}
</div>
<div>
    title pipe:{{heading|titlecase}}
</div>
<div>
    {{5|cube}}
</div>
</div>

